<!-- Para que salgan los iconos de las redes sociales instalar fontawesome-->
<!--En la terminal npm install @fortawesome/fontawesome-free-->
<!--En styles del archivo angular.json ----"node_modules/@fortawesome/fontawesome-free/css/all.min.css"-->



<footer>
  <div class="footer-container">
    <div class="social-icons">
      <a href="https://www.instagram.com/rickandmorty/"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/RickandMorty"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/RickandMorty/?locale=es_ES"><i class="fab fa-tiktok"></i></a>
    </div>
    <p class="copyright">
      &copy; 2023 Rick and Morty. Todos los derechos reservados.
    </p>
  </div>
</footer>

