$color-background: #0c0f11;
$color-text: #ffffff;
$color-hover: #00ff00;

nav {
  background-color: $color-background;
  padding: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 10px;
      padding: 20px;

      a {
        color: $color-text;
        text-decoration: none;
        font-weight: bold;
        font-family: GetSchwifty;
        font-size: 30px;

        &:hover {
          color: $color-hover;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    ul {
      display: flex;
      flex-direction: column;

      li {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

