<div class="landing-page">
  <h1>Bienvenido a la serie Rick and Morty</h1>
  <p>Rick and Morty es una serie de televisión de animación para adultos creada por Justin Roiland y Dan Harmon.
     La serie sigue las aventuras de Rick Sanchez, un científico brillante pero alcohólico, y su nieto Morty Smith, mientras exploran el espacio
     y viajan a través de dimensiones alternativas.</p>

  <div class="image-container">
    <img src="https://media.vandalsports.com/i/1706x960/6-2023/202361512109_1.jpg.webp" alt="Imagen 1">
    <img src="https://hips.hearstapps.com/hmg-prod/images/rick-and-morty-s5-2-1625139647.jpg?crop=0.8474679682733374xw:1xh;center,top&resize=980:*" alt="Imagen 2">
  </div>

  <p>La trama gira en torno a las aventuras de Rick y Morty a través del tiempo, el espacio y diversas realidades paralelas.
    Rick, un personaje excéntrico y alcohólico, posee un conocimiento científico extraordinario y la capacidad de viajar entre dimensiones.
    Junto a su nieto Morty, quien es arrastrado a sus peligrosas y alocadas travesuras, exploran mundos alienígenas, se enfrentan a amenazas cósmicas
    y se involucran en situaciones hilarantes y surrealistas.</p>
  <div class="image-container2">

    <img src="https://images2.alphacoders.com/695/695266.jpg" alt="Imagen 1">

  </div>

  <p> A lo largo de la serie, Rick and Morty aborda temas complejos como la existencia, la moralidad y la relación entre los diferentes universos.
    Además, la serie está llena de referencias culturales, parodias y sátiras, lo que la convierte en una experiencia única y divertida para los espectadores.</p>

  <p> Su estilo de animación es distintivo y ha ganado popularidad entre los fanáticos.
    Combina elementos visualmente llamativos con un humor irreverente y oscuro, creando una mezcla única que ha cautivado a audiencias de todo el mundo.</p>
</div>

